{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
    <script src="{{ asset('js/map.js') }}" defer></script>
{% endblock %}
{% block main %}
    {% if formLieu is defined %}
        {{ form_start(formLieu) }}
        <button class="button-52"> Mettre à jour</button>
        {{ form_end(formLieu) }}
    {% endif %}
    {% if formSite is defined %}
        {{ form_start(formSite) }}
        <button class="button-52"> Mettre à jour</button>
        {{ form_end(formSite) }}
    {% endif %}
    {% if formVille is defined %}
        {{ form_start(formVille) }}
        <button class="button-52"> Mettre à jour</button>
        {{ form_end(formVille) }}
    {% endif %}
    {% if formUser is defined %}
        {{ form_start(formUser) }}
        <button class="button-52"> Mettre à jour</button>
        {{ form_end(formUser) }}
    {% endif %}

{% endblock %}
