{{ form_start(formSortie) }}
    {{ form_widget(formSortie) }}

    <button class="btn" name="save">{{ button_label|default('Enregistrer') }}</button>
    <button class="btn" name="publish">{{ button_label|default('Publier la sortie') }}</button>

{{ form_end(formSortie) }}


