{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block main %}
    <div class="row">
        {% if app.user %}
            <div class="col-md-3 offset-md-9">
                <div>
                    Date du jour : {{ 'now'|date('d - m -Y') }}
                </div>
                <div>
                    Participant : {{ app.user.pseudo }}
                </div>
            </div>
        {% endif %}
    </div>
    <h2>Form avec objet php et SearchFormType</h2>
    <h2>Filtrer les sorties</h2>
    {{ form_start(formSearch) }}
    <input type="submit" value="Rechercher">
    {{ form_end(formSearch) }}

    <div class="row">
        <h2>Form classique</h2>
        <form action="{{ path('app_sortie_index')}}" method="post" id="filtresSortie">
            <fieldset>
                <div class="row">
                    <div class="col-6">
                        <div class="row form-group">
                            <label class="col-xs-2" for="select-site">Sites</label>
                            <select class="form-control col-xs-2" id="select-site">
                                <option value="1">SAINT-HERBLAIN</option>
                                <option value="2">SAINT-SEBASTIEN</option>
                                <option value="3">NANTES</option>
                            </select>
                        </div>
                        <div class="row form-group">
                            <label class="col-xs-2" for="searchbarName">Le nom de la sortie contient :</label>
                            <input class="form-control col-xs-2" id="searchbarName" type="text" placeholder="Search..">
                        </div>
                        <div class="row form-group">
                            <p>
                                Entre
                                <input type="date" id="date-debut-sorti" name="date-debut-sortie">
                                et
                                <input type="date" id="date-fin-sortie" name="date-fin-sortie">
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <input type="checkbox" id="s-orga" name="sortie-organisateur">
                            <label for="s-orga">Sortie dont je suis l'organisateur/trice</label>
                        </div>
                        <div>
                            <input type="checkbox" id="s-inscrit" name="sortie-inscrit">
                            <label for="s-inscrit">Sorties auxquelles je suis inscrit</label>
                        </div>
                        <div>
                            <input type="checkbox" id="s-pas-inscrit" name="sortie-pas-inscrit">
                            <label for="s-pas-inscrit">Sorties auxquelles je ne suis pas inscrit</label>
                        </div>
                        <div>
                            <input type="checkbox" id="s-fini" name="sortie-terminees">
                            <label for="s-fini">Sortie passées</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="button-53" type="submit">Rechercher</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="scroll">
        <table class="table">
            <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                {# <th>Duree</th> #}
                <th>Clôture</th>
                <th>inscrits/place</th>
                {# <th>DescriptionsInfos</th> #}
                {# <th>UrlPhoto</th> #}
                <th>Etat</th>
                <th>inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% set nbrParticipant = 0 %}
                {% for participant in sortie.users %}
                    {% set nbrParticipant = nbrParticipant + 1 %}
                {% endfor %}
                <tr>
                    {# <td>{{ sortie.id }}</td> #}
                    <td class="tab-sortie-nom">{{ sortie.nom }}</td>
                    <td class="tab-sortie-date">{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    {# <td>{{ sortie.duree }}</td> #}
                    <td class="tab-sortie-date">{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                    <td> {{nbrParticipant}}  / {{ sortie.nbInscriptionsMax }}</td>
                    {# <td>{{ sortie.descriptionsInfos }}</td> #}
                    {# <td>{{ sortie.urlPhoto }}</td> #}
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>X</td>
                    <td><a href="{{ path('app_profil_view',{'id':sortie.user.id}) }}">{{ sortie.user.pseudo }}</a></td>
                    <td>
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher{#<img class="icon" src="{{ asset('img/afficher.svg') }}" alt="Afficher">#}</a>
                        {# TODO : Les boutons s'inscrire et se désister ne s'affiche pas au bon moment#}
                        {% if nbrParticipant < sortie.nbInscriptionsMax and  dateNow < sortie.dateCloture and sortie.user.id != app.user.id and sortie.etat.libelle != "Activité en cours" and sortie.etat.libelle != "Clôturée" and sortie.etat.libelle != "Créée"%}
                            <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}">S'inscrire{#<img class="icon" src="{{ asset('img/inscrire.svg') }}" alt="S'inscrire">#}</a>
                        {% endif %}
                        {# TODO : Les boutons s'inscrire et se désister ne s'affiche pas au bon moment#}
                        {% if sortie.user.id != app.user.id and  (sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Clôturée")%}
                        <a href="{{ path('app_sortie_desinscription', {'id': sortie.id}) }}">Se désister{#<img class="icon" src="{{ asset('img/desister.svg') }}" alt="Se désister">#}</a>
                        {% endif %}

                        {% if app.user.id == sortie.user.id and (sortie.etat.libelle == "Créée" or sortie.etat.libelle == "Clôturée" or sortie.etat.libelle == "Ouverte") %}
                            <a href="{{ path('app_sortie_annuler', {'id': sortie.id}) }}" >Annuler{#<img class="icon" src="{{ asset('img/annuler.svg') }}" alt="Annuler">#}</a>
                        {% endif %}

                        {% if sortie.etat.libelle == "Créée" and app.user.id == sortie.user.id %}
                            <a href="{{ path('app_sortie_publier', {'id': sortie.id}) }}">Publier{#<img class="icon" src="{{ asset('img/publish.svg') }}" alt="Publier">#}</a>
                        {% endif %}

                        {% if (sortie.etat.libelle == "Créée" or sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Clôturée") and app.user.id == sortie.user.id %}
                            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier{#<img class="icon" src="{{ asset('img/publish.svg') }}" alt="Publier">#}</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="button-52" role="button"><a href="{{ path('app_sortie_new') }}">Create new</a></button>

{% endblock %}
