{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block main %}
    <div class="row">
        {% if app.user %}
            <div class="col-md-3 offset-md-9">
                <div>
                    Date du jour : {{ 'now'|date('d - m -Y') }}
                </div>
                <div>
                    Participant : {{ app.user.pseudo }}
                </div>
            </div>
        {% endif %}
    </div>
    <h2>Form avec objet php et SearchFormType</h2>
    <h2>Filtrer les sorties</h2>
    {{ form_start(formSearch) }}
    <input type="submit" value="Rechercher">
    {{ form_end(formSearch) }}

    <div class="scroll">
        <table class="table">
            <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                {# <th>Duree</th> #}
                <th>Clôture</th>
                <th>inscrits/place</th>
                {# <th>DescriptionsInfos</th> #}
                {# <th>UrlPhoto</th> #}
                <th>Etat</th>
                <th>inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    {# <td>{{ sortie.id }}</td> #}
                    <td class="tab-sortie-nom">{{ sortie.nom }}</td>
                    <td class="tab-sortie-date">{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    {# <td>{{ sortie.duree }}</td> #}
                    <td class="tab-sortie-date">{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                    <td> {{ sortie.users |length }}  / {{ sortie.nbInscriptionsMax }}</td>
                    {# <td>{{ sortie.descriptionsInfos }}</td> #}
                    {# <td>{{ sortie.urlPhoto }}</td> #}
                    <td>{{ sortie.etat.libelle }}</td>
                    {% if app.user in sortie.users %}
                    <td>X</td>
                        {% else %}
                            <td> </td>
                    {% endif %}
                    <td><a href="{{ path('app_profil_view',{'id':sortie.user.id}) }}">{{ sortie.user.pseudo }}</a></td>
                    <td>
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher{#<img class="icon" src="{{ asset('img/afficher.svg') }}" alt="Afficher">#}</a>

                        {% if sortie.user.id != app.user.id%}
                            {% if app.user in sortie.users %}
                                <a href="{{ path('app_sortie_desinscription', {'id': sortie.id}) }}">Se désister{#<img class="icon" src="{{ asset('img/desister.svg') }}" alt="Se désister">#}</a>
                            {% elseif sortie.users|length < sortie.nbInscriptionsMax and  sortie.etat.libelle == "Ouverte" %}
                                <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}">S'inscrire{#<img class="icon" src="{{ asset('img/inscrire.svg') }}" alt="S'inscrire">#}</a>
                            {% endif %}
                        {% endif %}

                        {% if (app.user.id == sortie.user.id or is_granted('ROLE_ADMIN')) and (sortie.etat.libelle == "Créée" or sortie.etat.libelle == "Clôturée" or sortie.etat.libelle == "Ouverte") %}
                            <a href="{{ path('app_sortie_annuler', {'id': sortie.id}) }}" >Annuler{#<img class="icon" src="{{ asset('img/annuler.svg') }}" alt="Annuler">#}</a>
                        {% endif %}

                        {% if sortie.etat.libelle == "Créée" and app.user.id == sortie.user.id %}
                            <a href="{{ path('app_sortie_publier', {'id': sortie.id}) }}">Publier{#<img class="icon" src="{{ asset('img/publish.svg') }}" alt="Publier">#}</a>
                        {% endif %}

                        {% if (sortie.etat.libelle == "Créée" or sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Clôturée") and app.user.id == sortie.user.id %}
                            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier{#<img class="icon" src="{{ asset('img/publish.svg') }}" alt="Publier">#}</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="button-52" role="button"><a href="{{ path('app_sortie_new') }}">Create new</a></button>

{% endblock %}
